<h1>New feed</h1>

<%= render 'form' %>
<% form_for @feed do |f| -%>
	<%= f.label :name, "Name" %> <%= f.text_field :attribute %>
	<%= f.label :url, "URL" %> <%= f.text_field :url %>
	<%= f.label :description, "Description" %> <%= f.text_field :description %>
	<%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end -%>

<%= link_to 'Back', feeds_path %>
