<div class="topBanner">
	<%= link_to image_tag( "rectBlack.png", :alt => "Change the Name, DC!", :id => "bannerLogo"), :controller => "home"  %>
	<div id="bannerTabs">
            <% if controller.controller_name == 'feeds' %>
		<%= link_to "Team News", feeds_path, :class => "currentPage" %>
		<%= link_to "Join", supporters_path %>
            <% elsif controller.controller_name == 'supporters' %>
                <%= link_to "Team News", feeds_path %>
		<%= link_to "Join", supporters_path, :class => "currentPage" %>
            <% else %>
                <%= link_to "Team News", feeds_path %>
		<%= link_to "Join", supporters_path %>
            <% end %>
	</div>
</div>